In [1]:
#Importation des librairy
import numpy as np
import pandas as pd
import seaborn as sns

# Création de la table population de 2012 à 2017
L'importation de la table population c'est faite directement avex SQLlite en supprimant d'abord les " du CSV télécharger sur le site de la FAO, puis en faisant une projection directement sur le logiciel de SQL. 

PK: code_pays , annee

# Création des tables  dispo_alim et equilibre_prod 
# des données de 2012 à 2017

In [2]:
#importation des données de 2012 à 2017 6 fichiers car la FAO n'autorise pas une sélection importante
veg1213 = pd.read_csv(r"E:\Openclassroom Data analyst\Projet3\Données projet 3\données_SQL\vege1213.csv")
ani1213 = pd.read_csv(r"E:\Openclassroom Data analyst\Projet3\Données projet 3\données_SQL\ani1213.csv")
veg1415 = pd.read_csv(r"E:\Openclassroom Data analyst\Projet3\Données projet 3\données_SQL\vege1415.csv")
ani1415 = pd.read_csv(r"E:\Openclassroom Data analyst\Projet3\Données projet 3\données_SQL\ani1415.csv")
veg1617 = pd.read_csv(r"E:\Openclassroom Data analyst\Projet3\Données projet 3\données_SQL\vege1617.csv")
ani1617 = pd.read_csv(r"E:\Openclassroom Data analyst\Projet3\Données projet 3\données_SQL\ani1617.csv")

In [3]:
#création de la colonne origine 
veg1213["origin"] = "vegetal"
ani1213["origin"] = "animal"
veg1415["origin"] = "vegetal"
ani1415["origin"] = "animal"
veg1617["origin"] = "vegetal"
ani1617["origin"] = "animal"

In [4]:
#Union des tables
temp = pd.concat([veg1213,ani1213,veg1415, ani1415,veg1617,ani1617])
temp.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,origin
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2012,2012,Milliers de tonnes,5884.0,S,Données standardisées,vegetal
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées,vegetal
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5527,Semences,2511,Blé,2012,2012,Milliers de tonnes,316.0,S,Données standardisées,vegetal
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.0,S,Données standardisées,vegetal
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5123,Pertes,2511,Blé,2012,2012,Milliers de tonnes,758.0,S,Données standardisées,vegetal

In [5]:
#changement des noms de colonnes pour faire une agrégation plus lisible
temp.columns = ["xx","xx1","code_pays","pays","xx2","element",
                "code_produit","produit",'xx3',"annee","xx4","value","xx5","xx6","origine"]

In [6]:
#création de la data par agrégation 
data = temp.pivot_table(
    index=["code_pays","pays","code_produit","produit","annee","origine"],
    columns = ["element"], values=["value"], aggfunc=sum)
data.head()

                                                                     value  \
element                                              Aliments pour animaux
code_pays pays    code_produit produit annee origine
1         Arménie 2511         Blé     2012  vegetal                  92.0
                                       2013  vegetal                  93.0
                                       2014  vegetal                 110.0
                                       2015  vegetal                 125.0
                                       2016  vegetal                 128.0

                                                                                            \
element                                              Autres utilisations (non alimentaire)
code_pays pays    code_produit produit annee origine
1         Arménie 2511         Blé     2012  vegetal                                   0.0
                                       2013  vegetal                                   0.0
                                       2014  vegetal                                   0.0
                                       2015  vegetal                                   0.0
                                       2016  vegetal                                   0.0

                                                                                                     \
element                                              Disponibilité alimentaire (Kcal/personne/jour)
code_pays pays    code_produit produit annee origine
1         Arménie 2511         Blé     2012  vegetal                                          995.0
                                       2013  vegetal                                         1024.0
                                       2014  vegetal                                         1039.0
                                       2015  vegetal                                         1049.0
                                       2016  vegetal                                         1057.0

                                                                                                             \
element                                              Disponibilité alimentaire en quantité (kg/personne/an)
code_pays pays    code_produit produit annee origine
1         Arménie 2511         Blé     2012  vegetal                                             126.94
                                       2013  vegetal                                             130.60
                                       2014  vegetal                                             130.58
                                       2015  vegetal                                             131.87
                                       2016  vegetal                                             133.12

                                                                                                                    \
element                                              Disponibilité de matière grasse en quantité (g/personne/jour)
code_pays pays    code_produit produit annee origine
1         Arménie 2511         Blé     2012  vegetal                                               3.53
                                       2013  vegetal                                               3.60
                                       2014  vegetal                                               3.69
                                       2015  vegetal                                               3.84
                                       2016  vegetal                                               3.90

                                                                                                               \
element                                              Disponibilité de protéines en quantité (g/personne/jour)
code_pays pays    code_produit produit annee origine
1         Arménie 2511         Blé     2012  vegetal                                              29.69
                                       2013  vegetal                                              30.52
                                       2014  vegetal                                              30.98
                                       2015  vegetal                                              31.27
                                       2016  vegetal                                              31.50

                                                                               \
element                                              Disponibilité intérieure
code_pays pays    code_produit produit annee origine
1         Arménie 2511         Blé     2012  vegetal                    532.0
                                       2013  vegetal                    554.0
                                       2014  vegetal                    639.0
                                       2015  vegetal                    685.0
                                       2016  vegetal                    650.0

                                                                        \
element                                              Nourriture Pertes
code_pays pays    code_produit produit annee origine
1         Arménie 2511         Blé     2012  vegetal      377.0   29.0
                                       2013  vegetal      389.0   32.0
                                       2014  vegetal      380.0   30.0
                                       2015  vegetal      386.0   34.0
                                       2016  vegetal      391.0   20.0


element                                              Semences Traitement
code_pays pays    code_produit produit annee origine
1         Arménie 2511         Blé     2012  vegetal     23.0       10.0
                                       2013  vegetal     30.0       10.0
                                       2014  vegetal     32.0       61.0
                                       2015  vegetal     33.0       59.0
                                       2016  vegetal     33.0       61.0

In [7]:
#Rename des colonnes et resest index pour avoir une dataframe utilisable
data.columns = ['alim_ani','autres_utilisations','dispo_alim_kcal_p_j',
                'dipso_alim_kg_p_an','dispo_mat_gr_gpj','dispo_prot_gpj','dispo_int','nourriture',"pertes",
               "semences","transfo"]
data = data.reset_index()

In [8]:
#ajout de la colonne disponibilité alimentaire en tonnes
data['dispo_alim_tonnes'] = data.nourriture*1000

In [9]:
#selection des colonnes utiltes pour les dataframes
dispo_alim = data[['pays', 'code_pays', 'annee', 'produit', 'code_produit', 'origine', 'dispo_alim_tonnes',
                   'dispo_alim_kcal_p_j', 'dispo_prot_gpj', "dispo_mat_gr_gpj"]]
equilibre_prod =  data[["pays", "code_pays", "annee", "produit", "code_produit", "dispo_int",
                        "alim_ani", "semences", "pertes", "transfo", "nourriture", "autres_utilisations"]]

In [10]:
#exportation des données en CSV
dispo_alim.to_csv("dispo_alim.csv", index = False)
equilibre_prod.to_csv("equilibre_prod.csv", index = False)

PK: code_pays,annee, cod_produit  
Vérif PK : avec drop _duplicate et shape

In [11]:
dispo_alim.shape

(96078, 10)

In [12]:
verifpk = dispo_alim[["annee","code_produit","code_pays"]]
verifpk.drop_duplicates
verifpk.shape

(96078, 3)

# Création de la table  sous_nutrition des données de 2012 à 2017

In [13]:
#Importation du  CSV de la FOA
sousNutri = pd.read_csv(r"E:\Openclassroom Data analyst\Projet3\Données projet 3\données_SQL\ssAlime1217.csv")

In [14]:
#renomme les colonnes 
sousNutri.columns=["domain_code","domain","code_pays","pays",
                   "element_code","element","item_code","item","year_code",
                   "xx","unit","pop_sous_nourris_millions","flag","flag_description","note"]

In [15]:
#Selection des pays avec de la sous-nutrition 
selecSousNutri = sousNutri[sousNutri['pop_sous_nourris_millions']!= '<0.1']

In [16]:
#conversion des données en numériques
selecSousNutriBon = selecSousNutri.astype({'pop_sous_nourris_millions':'float'})

In [17]:
#conversion des données en groupe de 1000 (même unité que la table population)
selecSousNutriBon['nb_personnes']= selecSousNutriBon.pop_sous_nourris_millions*1000

In [18]:
#Création d'une colonne annee
selecSousNutriBon.loc[selecSousNutriBon["year_code"]== 20112013, 'annee'] = 2012
selecSousNutriBon.loc[selecSousNutriBon["year_code"]== 20122014, 'annee'] = 2013
selecSousNutriBon.loc[selecSousNutriBon["year_code"]== 20132015, 'annee'] = 2014
selecSousNutriBon.loc[selecSousNutriBon["year_code"]== 20142016, 'annee'] = 2015
selecSousNutriBon.loc[selecSousNutriBon["year_code"]== 20152017, 'annee'] = 2016
selecSousNutriBon.loc[selecSousNutriBon["year_code"]== 20162018, 'annee'] = 2017
selecSousNutriBon = selecSousNutriBon.reset_index()

In [19]:
selecSousNutriBon = selecSousNutriBon[["pays","code_pays","annee","nb_personnes"]]

In [20]:
selecSousNutriBon.to_csv("sous_nutrition.csv", index = False)

PK: annee, code_pays  
Vérif PK : avec drop _duplicate et shape

In [21]:
selecSousNutriBon.shape

(1087, 4)

In [22]:
verifPKssnutri = selecSousNutriBon[["annee","code_pays"]]
verifPKssnutri.drop_duplicates
verifPKssnutri.shape

(1087, 2)